<div class="card">
    <h1><%=pluralize(@users.size, "User") %></h1>
    <ul class="users-list">
        <%@users.each do |user| %>
            <div class="each_user">
                <li>
                    <%= link_to user.username, edit_user_path(user)%>
                    created
                    <%= time_ago_in_words(user.created_at) %> ago
                </li>
            </div>
        <% end %>
    </ul>
    <%= link_to "Sign up", new_user_path, class:"link"%>
</div>